

NET "chaves[3]" LOC = T9;
NET "chaves[2]" LOC = U8;
NET "chaves[1]" LOC = U10;
NET "chaves[0]" LOC = V8;


NET "chaves[3]" IOSTANDARD = LVCMOS33;
NET "chaves[2]" IOSTANDARD = LVCMOS33;
NET "chaves[1]" IOSTANDARD = LVCMOS33;
NET "chaves[0]" IOSTANDARD = LVCMOS33;
NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;


NET "LED[7]" LOC = W21;
NET "LED[6]" LOC = Y22;
NET "LED[5]" LOC = V20;
NET "LED[4]" LOC = V19;
NET "LED[3]" LOC = U19;
NET "LED[2]" LOC = U20;
NET "LED[1]" LOC = T19;
NET "LED[0]" LOC = R20;
NET "clock" LOC = E12;
NET "confirma" LOC = T15;
NET "reset" LOC = T14;


NET "clock" IOSTANDARD = LVCMOS33;
NET "confirma" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
